<<<<<<< HEAD
.d-block{
  border:1px solid grey;
  border-width:1px 0 1px 0;
  border-radius: 20px;
  margin-top:5px;
  text-decoration: none;
  color:black;
}
.mt-3{
  font-size:0.8rem;
}
.d-block:hover{
  border:1px solid grey;
  text-decoration: none;
}
.display{
  display:flex;
  justify-content: space-around;
=======
html {
  background: grey;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

header p i {
  position: absolute;
  top: calc((14vh - 20px) / 2);
  left: 5%;
  padding: 5px;
  border-radius: 20%;
}
header p i:hover {
  border: 1px solid lightgrey;
}

#main-nav {
  position: absolute;
  top: /*9vh;*/ calc((26vh - 20px) / 2);
  left: 5%;
  background-color: Cornsilk;
  border: 1px solid lightgrey;
  /*color: grey;*/
}
.d-none {
  display: none;
}
ul {
  list-style: none;
  padding: 5px;

}
li {
  margin: 0;
}
header {
  font-size: 20px;
  background: white;
  color: DimGrey;
  width: 100%;
  height: 15vh;
}
header p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #465065;
>>>>>>> 27445c19561daddb6f349b23b60f5b85ef1465e9
}
